*{
    margin: 0;
    padding: 0;
    font-family: Arial, Helvetica, sans-serif;
    line-height: 1.5;
}

body{
    margin: 0 auto;
    width: 90%;
}

header{
    padding: 50px 0;
}

section{
    text-align: justify;
    margin-bottom: 40px;
}

.subtitulo{
    font-size: 28px;
}

section p{
    margin: 15px 0;
}

.section div p{
    margin: 15px 0;
}

figure{
    padding: 10px 15px 0;
}

figure img{
    width: 100%;
    box-shadow: 0 10px 20px rgb(0, 0, 0);
    border-radius: 8px;
}

footer{
    border-top: 1px solid black;
    
}

footer p{
    padding: 40px 0;
    text-align: center;
}