:root{
    --cor1:#8D7B68;
    --cor2:#A4907C;
    --cor3:#C8B6A6;
    --cor4:#eee9e2fe;
    --cor5:#fff;
    --cor6:#000;
}

nav{
    background-color: var(--cor2);
}

header{
    height: 60vh;
    background-image: url(https://picsum.photos/1200/400);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}

.titulo1{
    font-size: 40px;
    color: var(--cor1) ;
    text-shadow: 2px 2px 3px var(--cor5);
    font-weight: 100;
    font-family: sans-serif;
    text-transform: uppercase;
}

h2{
    border-bottom: 2px solid var(--cor1);
    margin-top: 30px;
    margin-bottom: 15px;
}

.justify{
    text-align: justify;
}

.card_1{
    background-color: red;
    color: red;
}

footer{
    background-color: var(--cor1);
}

footer div{
    display: flex;
    gap: 30px;
}
